@font-face{
	font-family: "Font-header";
	src: url('../font/font-header.ttf');
}

@font-face{
	font-family: "Noel";
	src: url('../font/noel.ttf');
}





header{
	background-image: url('../../index/image/header-background.jpg');
	background-origin:border-box;
	font-size: 200%;
	color: white;
	font-family:Font-header;
}


#barre{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 75%;
	}

#bouton{
	display: flex;
	float: right;
	margin-top: 2%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#search{
	display: flex;
	align-items: center;
	margin-top: 65%;
}



#head{
	display: flex;
	list-style: none;
	justify-content: space-between;
	flex-direction: row; 
	align-items: center;
}


.lien{
	font-size: 90%;
	text-decoration: none;
	color:white;

}

.lien:visited{
	color:white;
}

main{
	background-color: #EAD4B5;
	font-family: Font-header;
	margin-top: -15px;
	color: #0D0000;
}

#noel{
	width: 90%;
}



table{
	width: 100%;
	margin-top: 0%;
	text-align: justify;

	
}


#text{
	vertical-align: top;
	font-size: 120%;
}

#commande{
	text-decoration: none;
	color: #0D0000;
	border: thick double #0D0000;
	border-radius: 2%;
}

.formulaire{
	text-align: left;

} 


span{
	font-family: Noel;
	color:#A61723;
}